<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-flat-button color="primary" [routerLink]="['/']" id="app-title">
        Scotland's <img src="assets/img/logo_ffffff.svg">ountains
    </button>    
    <span class="spacer"></span>
    <button mat-icon-button aria-label="search">
        <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button aria-label="account">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>