<mat-card style="text-align:center;width:100%;max-width:535px;margin: 0 auto 0 auto;">
    <mat-card-title>
        <h2>Scotland's <img src="assets/img/logo_000000.svg">ountains</h2>
    </mat-card-title>   
    <mat-card-content>
        <div class="getty embed image"
        style="background-color:#fff;display:inline-block;font-family:Roboto,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:535px;">
        <div style="overflow:hidden;position:relative;height:0;padding:59.813084% 0 0 0;width:100%;"><iframe
                src="//embed.gettyimages.com/embed/179656322?et=UvELGH5SSaJ2vPX0dC4thg&tld=co.uk&sig=fIMRK-V6NTdJuGRKGbOtg1Xhjq_iCeUIqT4JGivWnL0=&caption=true&ver=1"
                scrolling="no" frameborder="0" width="535" height="320"
                style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;margin:0;"></iframe></div>
    </div>
    </mat-card-content>
    <mat-card-footer>
        <span style="font-style: italic;">Explore Scotland's mountains</span>
    </mat-card-footer>
</mat-card>
